body {
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    transition: box-shadow 0.3s ease;
}

.header.scrolled {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 스크롤 시 그림자 */
}


.nav {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    flex: 1;
}

.dropdown-container>a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.dropdown-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown {
    display: none;
    width: 180px;
    position: absolute;
    top: 100%;
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 8px 0;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(5px);
}

.dropdown-container:hover .dropdown {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown ul {
    padding: 0;
    margin: 0;
}

.dropdown li {
    list-style: none;
    width: 100%;
}

.dropdown li a {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: background 0.2s, color 0.2s, border-left 0.2s;
    border-left: 3px solid transparent;
}

.dropdown li a:hover {
    background-color: #f9f9f9;
    color: #4D774E;
    border-left: 3px solid #4D774E;
}

.user-info {
    margin: auto 100px;
    font-size: 0.9rem;
    color: #666;
}

.user-info a {
    text-decoration: underline;
    color: #666;
    cursor: pointer;
}

.alarmCount {
    position: fixed;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(243, 0, 0);
    top: 15px;
    right: 165px;
}

.logo {
    flex-shrink: 0;
}

.logo img {
    height: 31px;
    width: auto;
    margin-left: 30px;
    flex: 1;
    display: block;
}

.go-home-btn {
    margin-left: 30px;
}

.go-home-btn a {
    display: inline-block;
    padding: 7px 10px;
    background-color: #4D774E;
    color: #ffffff;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
    transition: background 0.3s;
}

.go-home-btn a:hover {
    background-color: #093a0a;
    color: #ffffff;
}
