.sidebar{
    background-color: #4D774E;
    color: white;
    height: 100vh;
    width: 230px;
    margin: 0;
    padding: 20px;
}
.sidebar h1 {
    margin: 10px 0 0 20px;
}
.sidebar ul {
    padding: 10px;
}
.sidebar li{
    list-style: none;
    font-size: 20px;
    padding: 10px 20px;
    
}
.sidebar li:hover {
    background-color: #3F6940;
}
.sidebar a {
    text-decoration: none;
    color: inherit;
}