.heroSection {
    font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  padding-top: 100px;
}

.title {
  font-size: 2.5rem;
  color: #2f4e33;
  margin-bottom: 8px;
  margin: 0 auto;
}

.subtitle {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.divider {
  color: #aaa;
}

.imageBanner {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  margin: 60px 0;
}

.imageBanner img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  display: block;
  border-radius: 0;
}

.Overlay {
  position: absolute;
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.atag{
  color: #4D774E;
  font-weight: 500;
  text-decoration: none
}