.wrapper {
  display: flex;
  /* height: calc(100vh - 64px); */
  background-color: #fff;
  overflow: hidden;
  /* overflow-y: scroll; */
  margin-left: 140px;
}

.content {
  flex: 1;
  align-self: flex-start;
  padding: 25px 0 0 0;
  overflow-y: auto;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}

.pageHeader {
  display: flex;
  flex-direction: column;
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  justify-content: flex-start;
}

.recipeCard {
  display: flex;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  padding: 10px;
}

.recipeCard img {
  width: 140px;
  object-fit: cover;
  border-radius: 8px;
  margin: auto 10px;
}

.cardText {
  width: 170px;
}

.recipeCard h3 {
  font-size: 1.1rem;
  margin: 12px 0 4px;
  color: #333;
}

.recipeCard ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recipeCard li {
  font-size: 0.95rem;
  padding: 2px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 4px;
}

.pagination button {
  background: none;
  border: none;
  padding: 6px 12px;
  color: #333;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.pagination button:hover:not(:disabled) {
  background-color: #f0f0f0;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination .active {
  background-color: #4D774E;
  color: white;
  font-weight: bold;
}