.wrapper {
  display: flex;
  height: calc(100vh - 64px);
  background-color: #f9fafb;
  overflow: hidden;
  overflow-y: scroll;
}

.content {
  flex: 1;
  align-self: flex-start;
  padding: 30px 0 0 0;
  overflow-y: auto;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}

.pageHeader {
  display: flex;
  flex-direction: column;
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 5px;
  justify-content: center;
}

.recipeCard {
  width: calc(20% - 20px);
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.cardImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.cardText {
  flex: 1;
}

.cardTitle {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.ingredientList {
  list-style: none;
  padding-left: 0;
  margin-top: 0.5rem;
}

.ingredientItem {
  font-size: 0.9rem;
  color: #444;
}