.orderSidebar {
    /**/
    top: 0;                 /* ← 상단에 고정 */
    left: 0;                /* ← 왼쪽에 고정 */
    /**/
    
    width: 200px;
    height: 100vh;
    background-color: #4D774E;
    color: white;
    padding: 20px;
}

.orderSidebar h3 {
    margin-top: 0;
}

.orderSidebar ul {
    list-style: none;
    padding: 0;
}

.orderSidebar li {
    margin: 10px 0;
}

.orderSidebar a {
    color: white;
    text-decoration: none;
}