.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 12px 48px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.7s ease;
  z-index: 1000;
  font-family: 'Noto Sans KR', sans-serif;

}

.layoutContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scrolled {
  background-color: #4D774E;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-right: 0px;
  margin-left: 0px;
  text-decoration: none;
}
.logoImage {
  height: 35px; /* 필요에 따라 조절 */
  width: auto;
  display: block;
}
.nav {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
}

.menuItem {
  position: relative;
  cursor: pointer;
}

.atag {
  color: white;
  text-decoration: none;
  font-size: 19px;
  padding: 10px 12px;
  font-weight: 600;
  display: inline-block;
  transition: color 0.3s ease;
}

.atag:hover {
  text-decoration: underline;
  color: #acccb5;
}

.subMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  padding: 8px 0;
  min-width: 160px;
  z-index: 10;
  animation: fadeIn 0.25s ease;
}

.subMenuItem {
  display: block;
  padding: 10px 16px;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  transition: background 0.2s ease, color 0.2s ease;
}

.subMenuItem:hover {
  background-color: #f4f4f4;
  color: #4D774E;
}

.subMenuWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 999;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hqBtn a {
  background: #ffffff;
  color: #4D774E;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  transition: background 0.3s, color 0.3s;

}

.hqBtn a:hover {
  background: #4D774E;
  color: white;
}
