.wrapper {
  display: flex;
  height: calc(100vh - 64px);
  background-color: #f9fafb;
  overflow: hidden;
  overflow-y: scroll;
}

.content {
   flex: 1;
  padding: 30px 20px 0;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pageHeader {
  display: flex;
  flex-direction: column;
}

.mainArea {
  display: flex;
  gap: 20px;
  flex-direction: row; 
  align-items: flex-start;
}

.leftPanel {
  width: 500px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.rightPanel {
  flex: 1;
  min-width: 500px;
  height: 600px;
}


.mapArea {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
}

.filters {
  margin-bottom: 20px;
}

.filterRow {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.filterRow select,
.filterRow input {
  padding: 4px 8px;
}

.tableWrapper {
  max-height: 600px;
}

.inventoryTableHeader{
  width: 97%;
  max-height: 600px;
  border-collapse: collapse;
  font-size: 14px;
  border: 1px solid #ccc;
  border-bottom: none;
}

.inventoryTableHeader th {
  padding: 10px;
}

.inventoryTableHeader th:first-child {
  width: 170px;
}

.scrollBody {
  max-height: 500px;
  overflow-y: auto;
}

.inventoryTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.inventoryTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.inventoryTable td:nth-child(2),
.inventoryTable td:nth-child(3) {
  width: 130px;
}

.inventoryTable thead {
  background-color: #f5f5f5;
}
