.brandIntro {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 40px;
  text-align: center;
  color: #333;
  padding-top: 0px;

  max-width: 960px;
  margin: 0 auto;   
}

.mission,
.story,
.palette {
  margin: 40px auto;
  max-width: 700px;
}

.sectionTitle {
  font-size: 1.5rem;
  color: #3d6141;
  margin-bottom: 12px;
  border-top: 2px solid #3d6141;
  border-bottom: 2px solid #3d6141;
  display: inline-block;
  padding: 6px 20px;
}

.story p,
.mission p {
  font-size: 1rem;
  line-height: 1.8;
  color: #444;
  white-space: pre-line;
}

.colorSample {
  margin: 20px auto;
  width: 60px;
  height: 60px;
  background-color: #3d6141;
  border-radius: 4px;
}
.logoContainer {
  text-align: center;
}

.brandLogo {
  height:100px; /* 필요에 따라 조절 */
  width: auto;
}