.notice-sidebar {
  background-color: #4D774E;
  color: white;
  height: 100vh;
  width: 230px;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.notice-sidebar h1 {
  margin: 10px 0 20px 20px;
  font-size: 28px;
  font-weight: bold;
}

.notice-sidebar ul {
  padding: 0 10px;
  margin: 0;
  list-style: none;
  flex-grow: 1;
}

.notice-sidebar li {
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.notice-sidebar li:hover {
  background-color: #3F6940;
}

.notice-sidebar a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
}

.notice-sidebar a:focus,
.notice-sidebar a:hover {
  outline: none;
  color: #eaeaea;
}
