.sidebar {
  background: linear-gradient(160deg, #486e50 74%, #678970 100%);
  color: #fff;
  height: 1186px;
  width: 230px;
  border-radius: 0 15px 0 0;
  box-shadow: 2px 0 14px 0 rgba(56,78,60,0.10);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 36px 16px 24px 24px;
}

.title {
  margin: 6px 0 38px 11px;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -1.4px;
}

.list {
  list-style: none;
  padding: 0;
  width: 100%;
}
.listItem {
  padding: 13px 18px;
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 7px;
  border-radius: 9px;
  cursor: pointer;
  transition: background 0.17s, color 0.17s;
}
.listItem:hover,
.listItem:focus-within {
  background: #385d3d;
  color: #e5ffe0;
}
.link {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  transition: color 0.2s;
}
.link:focus,
.link:hover {
  color: #d5ffe2;
  outline: none;
}
