.wrapper {
  display: flex;
  height: calc(100vh - 64px);
  background-color: #ffffff;
  overflow: hidden;
  overflow-y: scroll;
  padding: 24px 100px 0 280px;
}

.content {
  flex: 1;
  align-self: flex-start;
  padding: 30px 0 0 20px;
  overflow-y: auto;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}

.pageHeader {
  display: flex;
  flex-direction: column;
}
.pageHeader h2 {
  margin: 0 0 12px;
  font-size: 28px;
  color: #53756e;
  font-weight: bold;
}

.inboxContainer h2 {
  margin-bottom: 20px;
}

.inboxControls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: rgb(148, 148, 148);
  font-size: 14px;
}

.inboxControls button {
  margin-right: 8px;
  padding: 8px 12px;
  border: none;
  background-color: #4D774E;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.inboxSummary{  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  color: #666;

}
.inboxControls button:hover {
  background-color: #3F6940;
}

.inboxTable {
  width: 100%;
  border-collapse: collapse;
}

.inboxTable th,
.inboxTable td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.inboxTable .unread {
  font-weight: bold;
}

.noData {
  text-align: center;
  color: #aaa;
  padding: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 4px;
}

.pagination button {
  background: none;
  border: none;
  padding: 6px 12px;
  color: #333;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.pagination button:hover:not(:disabled) {
  background-color: #f0f0f0;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination .active {
  background-color: #4D774E;
  color: white;
  font-weight: bold;
}
