.container {
  display: flex;
  font-family: 'Pretendard', sans-serif;
  background-color: #ffffff;
  padding: 24px 100px 0 280px;
}

.content {
  flex: 1;
  padding: 30px 0 0 20px;
  background-color: white;
  min-width: 900px;
}

.title {
  margin: 0 0 12px;
  font-size: 28px;
  color: #286180; /* 파란톤 */
  font-weight: bold;
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 12px;
}

.filters select {
font-family: 'Noto Sans KR', sans-serif;
  width: 130px;
  padding: 6px;
  border: 1px solid #a8bcc6;
  border-radius: 4px;
  background: #fff;
  font-size: 14px;
}

.filters input {
  width: 180px;
  padding: 6px 10px;
  font-size: 15px;
  border: 1px solid #a8bcc6;
  border-radius: 4px;
}

.filters button {
  padding: 6px 18px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #286180;
  color: white;
  border: none;
  font-weight: 600;
  transition: background-color 0.2s;
}

.filters button:hover {
  background-color: #1f4d66;
}

/* 공지등록 버튼 없음 */

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  min-width: 900px;
}

.table thead th {
  background-color: #e7eff3; /* 밝은 파랑 */
  color: #286180; /* 파란 글자 */
  font-weight: 600;
  padding: 12px 10px;
  border-bottom: 2px solid #b3cedb; /* 연파란 경계 */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table thead th:nth-child(1) {
  width: 10%;
}

.table thead th:nth-child(2) {
  width: 60%;
  max-width: 360px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table thead th:nth-child(3) {
  width: 20%;
}

.table tbody td {
  padding: 14px 10px;
  color: #444;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table tbody td:nth-child(2) {
  text-align: left;
  max-width: 360px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row {
  border-bottom: 1px solid #e3eff3;
  transition: background-color 0.2s ease;
}

.row:hover {
  background-color: #f0f7fa; /* 연파란 hover */
  cursor: pointer;
}

.noData {
  padding: 30px 0;
  color: #777;
  font-style: italic;
}

.cell {
  padding: 10px 10px;
}

.center {
  text-align: center;
}

.paging {
  margin-top: 20px;
  text-align: center;
}

.paging button {
  margin: 0 8px;
  padding: 5px 10px;
  border: 1px solid #286180;
  background-color: white;
  color: #286180;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  font-size: 13px;
  transition: background-color 0.3s ease;
}

.paging button:hover {
  background-color: #286180;
  color: white;
}

.paging button:disabled {
  border-color: #ddd;
  color: #ddd;
  cursor: not-allowed;
}
