.container {
  display: flex;
  background: #fff;
}
.content {
  flex: 1;
  padding: 24px 100px 0 280px;
}
.innerContainer {
  background: #fff;
  margin: 30px 20px;
}
.title {
  font-size: 1.8rem;
  color: #286180;
  margin-bottom: 16px;
  font-weight: 600;
}
.filters {
  margin-bottom: 16px;
}
.row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
.label {
  font-weight: 600;
  color: #286180;
}
.inputDate {
  padding: 6px;
  border: 1px solid #a8bcc6;
  width: 190px;
  border-radius: 4px;
  font-size: 14px;
  background: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}
.inputDate:focus {
  border-color: #286180;
}
.inputSearch {
  width: 190px;
  padding: 6px 8px;
  border: 1px solid #a8bcc6;
  border-radius: 4px;
  background: #fff;
  font-size: 14px;
}
.inputSearch:focus {
  border-color: #286180;
}
.selectBox {
  padding: 6px 8px;
  border: 1px solid #a8bcc6;
  border-radius: 4px;
  font-size: 14px;
  background: #fff;
}
.selectBox:focus {
  border-color: #286180;
}
.searchBtn {
  padding: 6px 14px;
  background: #286180;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.searchBtn:hover {
  background: #1a445a;
}
.periodButtons {
  display: flex;
  gap: 8px;
  margin-left: 10px;
}
.periodBtn {
  padding: 4px 10px;
  border: 1px solid #286180;
  border-radius: 4px;
  background: #f7f7fa;
  color: #286180;
  cursor: pointer;
  transition: background 0.2s;
}
.periodBtn:hover {
  background: #286180;
  color: white;
}
.tableWrap {
  overflow-x: auto;
  border-radius:6px;
  
    border: 1px solid #dce3e9;
}
.table {
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.table th,
.table td {
  padding: 10px;
  border: 1px solid #dce3e9;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table thead {
  background: #dce3e9;
  color: #2d4836;
}
.table td {
  height: 32px;
}
.noData {
  text-align: center;
  padding: 20px 0;
  color: #999;
}
.pagination {
  display: flex; justify-content: center; gap: 6px;
  margin-top: 21px;
}
.pagination button {
  padding: 6px 12px;
  border: 1px solid #9bb7c6;
  background: #fff;
  color: #286180;
  border-radius: 4px;
  cursor: pointer;
}
.pagination button.active {
  background: #286180;
  color: #fff;
  border-color: #286180;
}
.pagination button:disabled {
  background: #f0f1f4;
  color: #c0c7cf;
  cursor: not-allowed;
}
.active {
  background: #286180;
  color: white;
  border-color: #286180;
}
