/* OrderList.module.css */
.orderListContainer {
   display: flex;
    height: calc(100vh - 64px);
    overflow: hidden;
    padding: 24px 100px 0 280px;
}

.orderListContent {
    flex: 1;
  padding: 30px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    overflow-y: auto; /* 내용 스크롤 */

}

.orderListContent h2 {
  margin: 0 0 16px;
  font-size: 28px;
  color: #3d5a40;
  font-weight: bold;
}

.filters {
    margin-bottom: 40px;
    width: 80%;
}

.filters .row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.filters label {
    font-weight: bold;
    font-size: 14px;
}

.filters input[type="date"]{
    padding: 6px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    width: 200px;
}
.filters input[type="text"]{
     padding: 6px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 184px;
    margin-right: 10px;   
}
.filters select {
    padding: 6px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 175px;
    margin-right: 10px;
}

.filters button {
    padding: 6px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filters button:hover {
    opacity: 0.9;
}
.searchButton {
    background-color: #4D774E;
    color: white;
}

.resetButton {
    background-color: #aaa;
    color: white;
}
.activeButton {
  background-color: #4D774E;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 10px;
  cursor: pointer;
}

.disabledButton {
  background-color: #ddd;
  color: #aaa;
  border: none;
  border-radius: 4px;
  padding: 4px 10px;
  cursor: not-allowed;
}
.orderTable {
    width: 100%;
    max-width: 1100px;
    border-collapse: collapse;
    font-size: 14px;
}

.orderTable th,
.orderTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.orderTable th {
    background-color: #e9f3e9;
    font-weight: bold;
}

.orderTable th.checkboxColumn,
.orderTable td.checkboxColumn {
    width: 40px;
    /* 원하는 폭 */
    text-align: center;
    /* 혹은 left/right 조정 가능 */
    padding: 4px;
    /* 좌우 여백 줄임 */
}

.orderTable tbody tr {
    cursor: pointer;
    /* 마우스 커서를 손가락으로 */
    transition: background-color 0.2s ease;
    /* 부드러운 색 전환 */
}

.orderTable tbody tr:hover {
    background-color: #f0f5f0;
    /* 살짝 연녹색 호버 색상 */
}

.pagination {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.pagination button {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.pagination .active {
    background-color: #4D774E;
    color: white;
    font-weight: bold;
}

.clickableRow {
  cursor: pointer;
}